<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <h1>social-media-api</h1>
    <p>Returns json</p>

    <h2>get all posts ✓</h2>
    <div>
        <div>GET</div>
        <div>
            <a href="/api/posts">/api/posts</a>
        </div>
    </div>

    <h2>get all users ✓</h2>
    <div>
        <div>GET</div>
        <div>
            <a href="/api/users">/api/users</a>
        </div>  
    </div>

    <h2>search posts ✓</h2>
    <div>
        <div>GET</div>
        <div>/api/posts?q=YOURQUERYHERE</div>
    </div>

    <h2>search users ✓</h2>
    <div>
        <div>GET</div>
        <div>/api/users?q=YOURQUERYHERE</div>
    </div>

    <h2>get user by id ✓</h2>
    <div>
        <div>GET</div>
        <div>/api/users/id</div>
    </div>

    <h2>get post by id ✓</h2>
    <div>
        <div>GET</div>
        <div>/api/posts/id</div>
    </div>

    <h2>create new user ✓</h2>
    <div>
        <div>POST</div>
        <div>/api/users</div>
        <div>name, email, password</div>
    </div>

    <h2>create new post ✓</h2>
    <div>
        <div>POST</div>
        <div>/api/posts</div>
        <div>title, author, body</div>
    </div>

    <h2>create new comment ✓</h2>
    <div>
        <div>POST</div>
        <div>/api/posts/comments</div>
        <div>postId, author, body</div>
    </div>
</body>
</html>